---
import config from "@/config/config.json";
import ImageMod from "./ImageMod.astro";

const { src, srcDarkmode }: { src?: string; srcDarkmode?: string } =
  Astro.props;
const {
  logo,
  logo_darkmode,
  logo_width,
  logo_height,
  logo_text,
  title,
}: {
  logo: string;
  logo_darkmode: string;
  logo_width: number;
  logo_height: number;
  logo_text: string;
  title: string;
} = config.site;

const { theme_switcher }: { theme_switcher: boolean } = config.settings;
---

<a href="/" class="navbar-brand inline-flex items-center gap-3">
  {
    src || srcDarkmode || logo || logo_darkmode ? (
      <>
        <ImageMod
          src={src ? src : logo}
          class={`inline-block shrink-0 ${theme_switcher && "dark:hidden"}`}
          width={logo_width * 2}
          height={logo_height * 2}
          alt={title}
          style={`height: ${logo_height}px; width: ${logo_width}px;`}
          format="svg"
        />
        {theme_switcher && (
          <ImageMod
            src={srcDarkmode ? srcDarkmode : logo_darkmode}
            class={"hidden dark:inline-block shrink-0"}
            width={logo_width * 2}
            height={logo_height * 2}
            alt={title}
            style={`height: ${logo_height}px; width: ${logo_width}px;`}
            format="svg"
          />
        )}
        <span class="text-xs leading-tight dark:text-darkmode-text-dark">
          Society for AV Norms<br />&amp; Engineering
        </span>
      </>
    ) : logo_text ? (
      logo_text
    ) : (
      title
    )
  }
</a>
