---
import Base from "@/layouts/Base.astro";
import PageHeader from "@/partials/PageHeader.astro";
import PostSidebar from "@/partials/PostSidebar.astro";
import WhitepaperCard from "@/layouts/components/WhitepaperCard.astro";
import Pagination from "@/components/Pagination.astro";
import config from "@/config/config.json";
import { getCollection } from "astro:content";

const { slug } = Astro.params;
const SECTION = "whitepapers";
const PAGE_SIZE = config.settings.pagination;

const posts = await getCollection(SECTION, ({ data }) => !data.draft);
const sortedPosts = posts.sort(
  (a, b) => (b.data.pubDate?.valueOf() ?? 0) - (a.data.pubDate?.valueOf() ?? 0),
);
const totalPages = Math.ceil(posts.length / PAGE_SIZE);
const currentPage = slug && !isNaN(Number(slug)) ? Number(slug) : 1;
const start = (currentPage - 1) * PAGE_SIZE;
const currentPosts = sortedPosts.slice(start, start + PAGE_SIZE);

const allTags: string[] = posts.flatMap((p) => p.data.tags).sort((a, b) => a.localeCompare(b));

export async function getStaticPaths() {
  const allPosts = await getCollection("whitepapers", ({ data }) => !data.draft);
  const total = Math.ceil(allPosts.length / config.settings.pagination);
  return Array.from({ length: total - 1 }, (_, i) => ({
    params: { slug: String(i + 2) },
  }));
}
---

<Base title={`Whitepapers - Page ${currentPage}`}>
  <PageHeader title={`Whitepapers - Page ${currentPage}`} />
  <section class="section">
    <div class="container">
      <div class="row">
        {currentPosts.map((post) => (
          <div class="mb-14 md:col-6">
            <WhitepaperCard data={post} />
          </div>
        ))}
      </div>
      <Pagination section={SECTION} currentPage={currentPage} totalPages={totalPages} />
    </div>
  </section>
</Base>
